
  html,body{
    height:100vh;
    margin: 0;
    padding: 0;
  }
  .carousel-container {
   
    height: 100%;
    width: 100%;
    max-width: 100%;

    
  }
  
  .selected-image {
  
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  object-position: bottom;
  margin-bottom: 8px; 
  border-radius:4px;
    
  }
  
  .carousel {
    max-height:calc(100% - 80%);
    position: relative;
    
  }
  
  .carousel__images {
    display: flex;
    max-width: 100%;
    overflow-x: hidden;
    
  }
  
  .carousel__image-selected {
    border: 3px solid black !important;
  }
  
  .carousel__image {
    margin: 10px !important;
    height: 150px;
    min-width: 150px;
    border: 3px solid #66e46c00;
   cursor: pointer;
    border-radius: 4px;
  }
  
  .carousel__button {
    position: absolute;
    top: 40%;
  }
  
  .carousel__button-left {
    left: 10px;
    width: 0;
    height: 0;
    border-width: 10px 30px 10px 0;
    border-color: transparent #ffffff transparent transparent;
    border-style: solid;
    cursor: pointer;
   
  }
  
  .carousel__button-right {
    right: 10px;
    width: 0;
	height: 0;
	border-width: 10px 0 10px 30px;
	border-color: transparent transparent transparent #ffffff;
	border-style: solid;
  cursor: pointer;
  
  }